body {
  text-align: center;
  font-family: Arial;
}

#gameArea {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.tile {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 8px;
}
